<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"
       default-lazy-init="true">
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<!-- 驱动地址 -->
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<!-- 数据库地址 -->
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/system"></property>
		<!-- 数据库用户名和密码 -->
		<property name="username" value="root"></property> <!--  这里的value值不能是username -->
		<property name="password" value="123"></property>
        <!-- 同一时刻可分配最大连接数 -->
        <property name="maxTotal" value="30"></property>
        <!-- 连接池最大最大空闲数 -->
        <property name="maxIdle" value="10"></property>
        <!-- 定义初始连接数  -->
        <property name="initialSize" value="5"></property>
	</bean>
	
	<!-- 配置SQLSessionFactory -->
	<bean class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 注入数据库连接池 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 引入myBatis配置文件 -->
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml" />
		<property name="mapperLocations">
            <list>
                <value>classpath:mybatis/**/*Mapper.xml</value>
            </list>
        </property>
	</bean>
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 配置自动生成dao层的实现类 -->
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 注入dao层的路径 -->
		<property name="basePackage" value="com.mapper"></property>
		</bean>
	<!--  拦截器方式配置事务 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
            <tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="find*" propagation="SUPPORTS"
											 read-only="true"  />
			<tx:method name="select*" propagation="SUPPORTS"
											 read-only="true" />
			<tx:method name="get*" propagation="SUPPORTS"
											 read-only="true" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.service.*.*(..))" />
	</aop:config>
	<!-- 开启自动扫描注解 -->
	<context:component-scan base-package="com">
	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
</beans>